*{
    margin: 0;
    padding: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{  
    text-align: center;
    background-color: #43BA43;
}
header{
    background-color: #FFB2D2;
    padding: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header h3{
    font-size: 40px;
}
.logo img{
    max-width: 120px;
}
nav{
    display: flex;
    gap: 30px;
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 1px 2px 4px rgba(0,0,0,0.4);
}
a:hover{
    text-decoration-line: underline;
}
.infoBox{
    background-color: #FFCC00;
    width: 27%;
    padding: 40px;
    border-bottom-left-radius: 60px;
    font-size: 20px;
    text-align: center;
    box-shadow: 2px 4px 10px rgba(0,0,0,0.3);
    margin-left: auto;
}

.infoDeelTwee {
    padding-left: 40px;
    padding-top: 20px; 
    text-align: left;
    display: flex;
    gap: 10px;
}
.infoNaam{
    font-size: 30px;
}
.opleiding {
    font-weight: bold;
}
